@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;700;800;900&family=Roboto&display=swap');

*{
    font-family: Poppins;
    font-size: 0.9rem;
    color : white;
}
a {
    text-decoration: none;
}
.logo {
    /* object-position : center top; */
    object-position : 50% 50%;
    /* object-fit: contain; */
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    /* margin-right: 1em; */
    object-fit: contain;
}
.left-bar-container{
    /* display : block; */
    /* float : left; */
    height : 100%;
    width : 15%;
    max-width : 350px;
    margin : auto;
    padding-top : 1%;
    position : fixed;
    top : 0;
    left : 0;
    z-index : 1;
    /* background-color: rgb(255, 72, 0); */
    overflow : auto; /*important for background color to work*/
}
.main-page{
    /* float : right; */
    background-color: #292C49;
    width: 85%;
    height : 100%;
    position : fixed;
    overflow: auto;
    top : 0;
    right : 0;
}

.bg-color{
    background-color: #12173D;
}

.color {
    color :rgb(255, 255, 255);
}

.page-switcher{
    display :inline-block;
    /* border: 1px solid #292C49; */
    /* border-color: rgb(255, 255, 255);  */
    height : 3rem;
    width : 80%;
    margin-top : 50%;
    margin-bottom : 20%;
}
#stats-page {
    /* display :block; */
    border: 1px solid #ffffff;
    height : 3rem;
    width : 100%;
    background-color : #292C49;
    /* float: left;  */
    /* top : 0; */
    /* z-index : 3; */
}
#border-left {
    position : absolute;
    border-left : 5px solid #ff0000;
    /* top : 0;
    bottom : 0; */
    /* left : 80%;
    z-index : 6; */
}

#invent-page {
    /* display : block; */
    border: 1px solid #292C49;
    height : 3rem;
    width : 70%;
    float : left;
    /* z-index : 2; */
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* text-justify: inter-word; */
}

.flex{
    display : flex;
    /* justify-content: space-between; */
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.space-between{
    /* justify-content: space-between; */
    margin : 1rem; 
}

.input-field {
    width: 100%;
    padding: 0.5rem 0 0.5rem 1rem;
    border-radius: 25px;
    border : 0;
}
.input-icons {
    width: 100%;
    /* margin-bottom: 10px; */
}
.input-icons i{
    position: relative;
    float : right; 
    cursor: pointer;
}

.icon {
    /* padding: 10px; */
    position : relative;
    top : 1.9rem;
    /* right : 0;
    margin-right : 0; */
    z-index : 10;
    /* min-width: 50px; */
    font-size: 1.5rem;
}

.search-container{
    width : 40%;
}
.margin{
    margin : 1.1rem 5rem;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #12173D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
    
.dropdown-content a:hover {
    color: black;
    background-color: #f1f1f1;}

